# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dmhifjh7n
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# Contentful
CONTENTFUL_SPACE_ID=your_space_id_here
CONTENTFUL_ACCESS_TOKEN=your_access_token_here
